/* Font Face Declarations remain unchanged */
@font-face {
  font-family: "MuseoModerno-Regular";
  src: url("./MuseoModerno-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Koulen-Regular";
  src: url("./Koulen-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Type Selectors (like h2) and their corresponding styling remain unchanged */
h2 {
  font-family: "MuseoModerno-Regular", sans-serif;
  font-size: 2rem;
  color: white;
}

/* Adjusting Class Selectors */
.dashboard-container-portal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.banner-portal {
  background-color: #783cc8;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
}

.sidebar-portal {
  width: 250px;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  padding-top: 60px;
  transition: left 0.3s ease;
}

.sidebar-portal ul {
  list-style: none;
  padding: 0;
}

.sidebar-portal ul li {
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.sidebar-portal ul li:hover {
  background-color: #555;
}

.main-content-portal {
  margin-left: 260px;
  padding: 1rem;
}

.toggle-btn-portal {
  position: absolute;
  left: 230px;
  top: 10px;
  cursor: pointer;
}

.invert-effect-portal {
  filter: invert(100%);
}

.login-container-portal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form-portal {
  background-color: #eeeeee;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form-portal button {
  background-color: #783cc8;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.login-form-portal button:hover {
  background-color: #682cb7;
}

.job-status-portal {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.messages-portal {
  margin-top: 1rem;
  border-top: 1px solid #e1e1e1;
  padding-top: 1rem;
}

.message-input-portal {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

.send-btn-portal {
  background-color: #783cc8;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.send-btn-portal:hover {
  background-color: #682cb7;
}
