@font-face {
  font-family: "MuseoModerno-Regular"; /* Name your custom font */
  src: url("./MuseoModerno-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Koulen-Regular";
  src: url("./Koulen-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.element-container {
  position: relative;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #783cc8; /* Initial color */
  opacity: 1.0; /* Adjust the opacity as needed */
  z-index: 1;
  transition: background-color 0.3s; /* Smooth transition */
}

.element-container:hover .circle {
  background-color: #8a51d5; /* Color on hover */
}

.element {
  cursor: pointer;
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.33);
  border-radius: 50%;
  background-image: url('./Chat icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 74px;
  width: 84px;
  height: 84px;
  position: relative;
  z-index: 2;
}
