/* Login.css */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./login-gradiant.svg'); /* Use a relative path to your SVG file */
  background-size: cover;
  background-position: center;
  transition: background 0.3s ease-in-out;
}

.login-container:hover {
  /* Replace with your hover image */
  background-size: cover;
  background-position: center;
}

.login-box {
  background: rgba(113, 93, 242, 0.9);
  padding: 5%; /* Use relative percentage for padding */
  border-radius: 8px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw; /* Set width to 25% of the viewport width */
  height: 25vh; /* Set height to 25% of the viewport height */
  margin: 0 auto;
  color: white;
  justify-content: center;
}

.login-box h2 {
  margin-bottom: 3%; /* Use relative percentage for margin */
  font-size: 4vw;
}

.form-group {
  margin-bottom: 3%; /* Use relative percentage for margin */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally within the form-group */
  justify-content: center; /* Center content vertically within the form-group */
  width: 100%;
  flex-grow: 1; /* Allow the form-group to grow and occupy available space */
}

label {
  display: block;
  font-weight: bold;
  text-align: left;
}

input {
  width: 100%;
  max-width: 89%;
  padding: 3%; /* Use relative percentage for padding */
  background-color: #6600FF;
  border: 1px solid #6600FF;
  border-radius: 15px;
  margin-bottom: 3%; /* Use relative percentage for margin */
  color: white;
  flex-grow: 3; /* Allow the input to grow to 3 times its initial size */
  flex-basis: 40%; /* Set an initial size (adjust as needed) */
  box-sizing: border-box; /* Include padding and border within the width */
}

/* Set placeholder text color to white */
input::placeholder {
  color: white;
}

button {
  background-color: #6600FF;
  color: white;
  border: none;
  padding: 3% 5%; /* Use relative percentage for padding */
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
